.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding-bottom: 10vh;
    margin: 0 auto;
}

.form {
    padding: 3em;
    background: white;
    box-shadow: 0 1px 15px 1px lightgray;
}
