.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1em auto 3em auto;
    max-width: 1000px;
    padding: 1em;
}

.messages {
    display: block;
    flex: 1;
    background: white;
    margin-bottom: 2em;
    overflow-x: scroll;
}

.input {
    margin-bottom: 10px;
}

.button {
    float: right;
}
