.container {
    max-width: 70%;
    margin: 8px;
    clear: both;
}

.sent.container {
    float: right;
    text-align: right;
}

.body {
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    margin: 3px;
    font-family: inherit;
}

.sent .body {
    background: lightgray;
}

.received .body {
    background: lightsteelblue;
}
